In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
Statistic = ["Owns an Electric Vehicle (EV)", "Owns an Electric Vehicle (EV)", "Owns an Electric Vehicle (EV)",
                  "Owns an Electric Vehicle (EV)", "Owns an Electric Vehicle (EV)", "Owns an Electric Vehicle (EV)",
                  "Owns an Electric Vehicle (EV)", "Owns an Electric Vehicle (EV)", "Owns an Electric Vehicle (EV)",
                  "Owns an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)",
                  "Does not own an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)",
                  "Does not own an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)",
                  "Does not own an Electric Vehicle (EV)", "Does not own an Electric Vehicle (EV)"]
Year = [2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019, 2019]
Sex = ["Male", "Male", "Male", "Male", "Male", "Female", "Female", "Female", "Female", "Female", "Male", "Male", "Male", "Male",
      "Male", "Female", "Female", "Female", "Female", "Female"]
Age_Group = ["18 - 29 years", "30 - 44 years", "45 - 59 years", "60 - 74 years", "75 years and over",
            "18 - 29 years", "30 - 44 years", "45 - 59 years", "60 - 74 years", "75 years and over",
            "18 - 29 years", "30 - 44 years", "45 - 59 years", "60 - 74 years", "75 years and over",
            "18 - 29 years", "30 - 44 years", "45 - 59 years", "60 - 74 years", "75 years and over"]
VALUE= [0.8, 1.1, 2.3, 1.6, 0.8, 0.9, 1.4, 1.7, 2.7, 0.2, 99.2, 98.9, 97.7, 98.4, 99.2, 99.1, 98.6, 98.3, 97.3, 99.8]
my_dict = {'Statistic Label':Statistic, 'Year':Year, 'Sex':Sex, 'Age Group':Age_Group, 'VALUE%':VALUE}
EV_2019 = pd.DataFrame(my_dict)
EV_2019.rename(columns={"VALUE" : "VALUE%"}, inplace=True)
print(EV_2019)
type(EV_2019)

                          Statistic Label  Year     Sex          Age Group  \
0           Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
1           Owns an Electric Vehicle (EV)  2019    Male      30 - 44 years
2           Owns an Electric Vehicle (EV)  2019    Male      45 - 59 years
3           Owns an Electric Vehicle (EV)  2019    Male      60 - 74 years
4           Owns an Electric Vehicle (EV)  2019    Male  75 years and over
5           Owns an Electric Vehicle (EV)  2019  Female      18 - 29 years
6           Owns an Electric Vehicle (EV)  2019  Female      30 - 44 years
7           Owns an Electric Vehicle (EV)  2019  Female      45 - 59 years
8           Owns an Electric Vehicle (EV)  2019  Female      60 - 74 years
9           Owns an Electric Vehicle (EV)  2019  Female  75 years and over
10  Does not own an Electric Vehicle (EV)  2019    Male      18 - 29 years
11  Does not own an Electric Vehicle (EV)  2019    Male      30 - 44 years
12  Does not own an Electric Vehicle (EV)  2019    Male      45 - 59 years
13  Does not own an Electric Vehicle (EV)  2019    Male      60 - 74 years
14  Does not own an Electric Vehicle (EV)  2019    Male  75 years and over
15  Does not own an Electric Vehicle (EV)  2019  Female      18 - 29 years
16  Does not own an Electric Vehicle (EV)  2019  Female      30 - 44 years
17  Does not own an Electric Vehicle (EV)  2019  Female      45 - 59 years
18  Does not own an Electric Vehicle (EV)  2019  Female      60 - 74 years
19  Does not own an Electric Vehicle (EV)  2019  Female  75 years and over

    VALUE%
0      0.8
1      1.1
2      2.3
3      1.6
4      0.8
5      0.9
6      1.4
7      1.7
8      2.7
9      0.2
10    99.2
11    98.9
12    97.7
13    98.4
14    99.2
15    99.1
16    98.6
17    98.3
18    97.3
19    99.8

pandas.core.frame.DataFrame

In [3]:
df = pd.read_csv("EV_Ownership_2021.csv")
df.rename(columns={"VALUE" : "VALUE%"}, inplace=True)
EV_2021 = df[["Statistic Label", "Year", "Sex", "Age Group", "VALUE%"]]
EV_2021.isnull()

    Statistic Label   Year    Sex  Age Group  VALUE%
0             False  False  False      False   False
1             False  False  False      False   False
2             False  False  False      False   False
3             False  False  False      False   False
4             False  False  False      False   False
5             False  False  False      False   False
6             False  False  False      False   False
7             False  False  False      False   False
8             False  False  False      False   False
9             False  False  False      False   False
10            False  False  False      False   False
11            False  False  False      False   False
12            False  False  False      False   False
13            False  False  False      False   False
14            False  False  False      False   False
15            False  False  False      False   False
16            False  False  False      False   False
17            False  False  False      False   False
18            False  False  False      False   False
19            False  False  False      False   False

In [4]:
print(EV_2021.head())
type(EV_2021)

                 Statistic Label  Year   Sex          Age Group  VALUE%
0  Owns an Electric Vehicle (EV)  2021  Male      18 - 29 years     1.2
1  Owns an Electric Vehicle (EV)  2021  Male      30 - 44 years     4.1
2  Owns an Electric Vehicle (EV)  2021  Male      45 - 59 years     4.5
3  Owns an Electric Vehicle (EV)  2021  Male      60 - 74 years     4.9
4  Owns an Electric Vehicle (EV)  2021  Male  75 years and over     3.1

pandas.core.frame.DataFrame

In [5]:
df = pd.read_csv("Factors_Influenced_Purchase_EV_2019_2021.csv")
df.rename(columns={"VALUE" : "VALUE%"}, inplace=True)
Influence = df[["STATISTIC Label", "Year", "Sex", "Influencing factor of EV purchase", "VALUE%"]]
Influence.isnull()

    STATISTIC Label   Year    Sex  Influencing factor of EV purchase  VALUE%
0             False  False  False                              False   False
1             False  False  False                              False   False
2             False  False  False                              False    True
3             False  False  False                              False    True
4             False  False  False                              False   False
..              ...    ...    ...                                ...     ...
61            False  False  False                              False   False
62            False  False  False                              False   False
63            False  False  False                              False   False
64            False  False  False                              False   False
65            False  False  False                              False   False

[66 rows x 5 columns]

In [6]:
Influence = Influence.fillna(0)
print(Influence.head())
type(Influence)

                                     STATISTIC Label  Year         Sex  \
0  Factors that influenced the purchase of an Ele...  2019  Both sexes
1  Factors that influenced the purchase of an Ele...  2019  Both sexes
2  Factors that influenced the purchase of an Ele...  2019  Both sexes
3  Factors that influenced the purchase of an Ele...  2019  Both sexes
4  Factors that influenced the purchase of an Ele...  2019  Both sexes

                   Influencing factor of EV purchase  VALUE%
0  Making more of a contribution to a better envi...    71.8
1                        Better affordability to run    77.8
2                                        Reduced tax     0.0
3                    Availabitity of purchase grants     0.0
4                            Reduced noise pollution    17.2

pandas.core.frame.DataFrame

In [7]:
from urllib.request import urlretrieve
url = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/NTA45/CSV/1.0/en"
urlretrieve(url, 'owns_a_EV_2019_2021.csv')
df = pd.read_csv('owns_a_EV_2019_2021.csv')
df.rename(columns={"VALUE" : "VALUE%"}, inplace=True)
Owns_EV_Pop = df[["Statistic Label", "Year", "Degree of Urbanisation", "VALUE%"]]
Owns_EV_Pop.isnull()

    Statistic Label   Year  Degree of Urbanisation  VALUE%
0             False  False                   False   False
1             False  False                   False   False
2             False  False                   False   False
3             False  False                   False   False
4             False  False                   False   False
5             False  False                   False   False
6             False  False                   False   False
7             False  False                   False   False
8             False  False                   False   False
9             False  False                   False   False
10            False  False                   False   False
11            False  False                   False   False
12            False  False                   False   False
13            False  False                   False   False
14            False  False                   False   False
15            False  False                   False   False

In [8]:
print(Owns_EV_Pop.head())
type(Owns_EV_Pop)

                 Statistic Label  Year       Degree of Urbanisation  VALUE%
0  Owns an Electric Vehicle (EV)  2019            Densely populated     1.6
1  Owns an Electric Vehicle (EV)  2019       Intermediate populated     1.6
2  Owns an Electric Vehicle (EV)  2019             Thinly populated     1.3
3  Owns an Electric Vehicle (EV)  2019  All degrees of urbanisation     1.5
4  Owns an Electric Vehicle (EV)  2021            Densely populated     4.8

pandas.core.frame.DataFrame

In [9]:
url2 = "https://ws.cso.ie/public/api.restful/PxStat.Data.Cube_API.ReadDataset/NTA77/CSV/1.0/en"
urlretrieve(url2, 'Reason_Not_Owning_EV.csv')
df = pd.read_csv('Reason_Not_Owning_EV.csv')
df.rename(columns={"VALUE" : "VALUE%"}, inplace=True)
Reason = df[["Statistic Label", "Year", "Sex", "Age Group", "VALUE%"]]
Reason.isnull()

     Statistic Label   Year    Sex  Age Group  VALUE%
0              False  False  False      False   False
1              False  False  False      False   False
2              False  False  False      False   False
3              False  False  False      False   False
4              False  False  False      False   False
..               ...    ...    ...        ...     ...
105            False  False  False      False   False
106            False  False  False      False   False
107            False  False  False      False   False
108            False  False  False      False   False
109            False  False  False      False   False

[110 rows x 5 columns]

In [10]:
print(Reason.head())
type(Reason)

  Statistic Label  Year   Sex          Age Group  VALUE%
0            Cost  2021  Male      18 - 29 years    56.6
1            Cost  2021  Male      30 - 44 years    68.4
2            Cost  2021  Male      45 - 59 years    61.2
3            Cost  2021  Male      60 - 74 years    69.2
4            Cost  2021  Male  75 years and over    60.0

pandas.core.frame.DataFrame

In [11]:
EV_Ownership_2019_2021 = pd.concat([EV_2019, EV_2021], axis = "index", ignore_index = True)
print(EV_Ownership_2019_2021)

                          Statistic Label  Year     Sex          Age Group  \
0           Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
1           Owns an Electric Vehicle (EV)  2019    Male      30 - 44 years
2           Owns an Electric Vehicle (EV)  2019    Male      45 - 59 years
3           Owns an Electric Vehicle (EV)  2019    Male      60 - 74 years
4           Owns an Electric Vehicle (EV)  2019    Male  75 years and over
5           Owns an Electric Vehicle (EV)  2019  Female      18 - 29 years
6           Owns an Electric Vehicle (EV)  2019  Female      30 - 44 years
7           Owns an Electric Vehicle (EV)  2019  Female      45 - 59 years
8           Owns an Electric Vehicle (EV)  2019  Female      60 - 74 years
9           Owns an Electric Vehicle (EV)  2019  Female  75 years and over
10  Does not own an Electric Vehicle (EV)  2019    Male      18 - 29 years
11  Does not own an Electric Vehicle (EV)  2019    Male      30 - 44 years
12  Does not own an Electric Vehicle (EV)  2019    Male      45 - 59 years
13  Does not own an Electric Vehicle (EV)  2019    Male      60 - 74 years
14  Does not own an Electric Vehicle (EV)  2019    Male  75 years and over
15  Does not own an Electric Vehicle (EV)  2019  Female      18 - 29 years
16  Does not own an Electric Vehicle (EV)  2019  Female      30 - 44 years
17  Does not own an Electric Vehicle (EV)  2019  Female      45 - 59 years
18  Does not own an Electric Vehicle (EV)  2019  Female      60 - 74 years
19  Does not own an Electric Vehicle (EV)  2019  Female  75 years and over
20          Owns an Electric Vehicle (EV)  2021    Male      18 - 29 years
21          Owns an Electric Vehicle (EV)  2021    Male      30 - 44 years
22          Owns an Electric Vehicle (EV)  2021    Male      45 - 59 years
23          Owns an Electric Vehicle (EV)  2021    Male      60 - 74 years
24          Owns an Electric Vehicle (EV)  2021    Male  75 years and over
25          Owns an Electric Vehicle (EV)  2021  Female      18 - 29 years
26          Owns an Electric Vehicle (EV)  2021  Female      30 - 44 years
27          Owns an Electric Vehicle (EV)  2021  Female      45 - 59 years
28          Owns an Electric Vehicle (EV)  2021  Female      60 - 74 years
29          Owns an Electric Vehicle (EV)  2021  Female  75 years and over
30  Does not own an Electric Vehicle (EV)  2021    Male      18 - 29 years
31  Does not own an Electric Vehicle (EV)  2021    Male      30 - 44 years
32  Does not own an Electric Vehicle (EV)  2021    Male      45 - 59 years
33  Does not own an Electric Vehicle (EV)  2021    Male      60 - 74 years
34  Does not own an Electric Vehicle (EV)  2021    Male  75 years and over
35  Does not own an Electric Vehicle (EV)  2021  Female      18 - 29 years
36  Does not own an Electric Vehicle (EV)  2021  Female      30 - 44 years
37  Does not own an Electric Vehicle (EV)  2021  Female      45 - 59 years
38  Does not own an Electric Vehicle (EV)  2021  Female      60 - 74 years
39  Does not own an Electric Vehicle (EV)  2021  Female  75 years and over

    VALUE%
0      0.8
1      1.1
2      2.3
3      1.6
4      0.8
5      0.9
6      1.4
7      1.7
8      2.7
9      0.2
10    99.2
11    98.9
12    97.7
13    98.4
14    99.2
15    99.1
16    98.6
17    98.3
18    97.3
19    99.8
20     1.2
21     4.1
22     4.5
23     4.9
24     3.1
25     1.8
26     3.2
27     2.8
28     3.3
29     2.0
30    98.8
31    95.9
32    95.5
33    95.1
34    96.9
35    98.2
36    96.8
37    97.2
38    96.7
39    98.0

In [12]:
ownership_Influence = pd.merge(EV_Ownership_2019_2021, Influence, on = ["Year", "Sex"], how = "left"
                              , suffixes=("_Own", "_Inf"))
print(ownership_Influence.head())

                 Statistic Label  Year   Sex      Age Group  VALUE%_Own  \
0  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
1  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
2  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
3  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
4  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8

                                     STATISTIC Label  \
0  Factors that influenced the purchase of an Ele...
1  Factors that influenced the purchase of an Ele...
2  Factors that influenced the purchase of an Ele...
3  Factors that influenced the purchase of an Ele...
4  Factors that influenced the purchase of an Ele...

                   Influencing factor of EV purchase  VALUE%_Inf
0  Making more of a contribution to a better envi...        80.3
1                        Better affordability to run        75.6
2                                        Reduced tax         0.0
3                    Availabitity of purchase grants         0.0
4                            Reduced noise pollution        21.2

In [13]:
ownership_Influence.rename(columns={"Statistic Label": "STAT"}, inplace=True)
print(ownership_Influence.head())

                            STAT  Year   Sex      Age Group  VALUE%_Own  \
0  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
1  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
2  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
3  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8
4  Owns an Electric Vehicle (EV)  2019  Male  18 - 29 years         0.8

                                     STATISTIC Label  \
0  Factors that influenced the purchase of an Ele...
1  Factors that influenced the purchase of an Ele...
2  Factors that influenced the purchase of an Ele...
3  Factors that influenced the purchase of an Ele...
4  Factors that influenced the purchase of an Ele...

                   Influencing factor of EV purchase  VALUE%_Inf
0  Making more of a contribution to a better envi...        80.3
1                        Better affordability to run        75.6
2                                        Reduced tax         0.0
3                    Availabitity of purchase grants         0.0
4                            Reduced noise pollution        21.2

In [14]:
ownership_Influence = ownership_Influence[ownership_Influence.STAT != 'Does not own an Electric Vehicle (EV)']
print(ownership_Influence)

                              STAT  Year     Sex          Age Group  \
0    Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
1    Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
2    Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
3    Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
4    Owns an Electric Vehicle (EV)  2019    Male      18 - 29 years
..                             ...   ...     ...                ...
325  Owns an Electric Vehicle (EV)  2021  Female  75 years and over
326  Owns an Electric Vehicle (EV)  2021  Female  75 years and over
327  Owns an Electric Vehicle (EV)  2021  Female  75 years and over
328  Owns an Electric Vehicle (EV)  2021  Female  75 years and over
329  Owns an Electric Vehicle (EV)  2021  Female  75 years and over

     VALUE%_Own                                    STATISTIC Label  \
0           0.8  Factors that influenced the purchase of an Ele...
1           0.8  Factors that influenced the purchase of an Ele...
2           0.8  Factors that influenced the purchase of an Ele...
3           0.8  Factors that influenced the purchase of an Ele...
4           0.8  Factors that influenced the purchase of an Ele...
..          ...                                                ...
325         2.0  Factors that influenced the purchase of an Ele...
326         2.0  Factors that influenced the purchase of an Ele...
327         2.0  Factors that influenced the purchase of an Ele...
328         2.0  Factors that influenced the purchase of an Ele...
329         2.0  Factors that influenced the purchase of an Ele...

                     Influencing factor of EV purchase  VALUE%_Inf
0    Making more of a contribution to a better envi...        80.3
1                          Better affordability to run        75.6
2                                          Reduced tax         0.0
3                      Availabitity of purchase grants         0.0
4                              Reduced noise pollution        21.2
..                                                 ...         ...
325                           Improved health from use         8.8
326                                       How it looks         5.2
327  More availability of overnight charging at low...         2.3
328                                     Toll discounts         0.0
329                          Other influencing factors        13.7

[220 rows x 8 columns]

In [22]:
Pop_Reason = pd.merge(Owns_EV_Pop, Reason, on = ["Year"], how = "left"
                              , suffixes=("_Pop", "_Rea"))
print(Pop_Reason)

                       Statistic Label_Pop  Year       Degree of Urbanisation  \
0            Owns an Electric Vehicle (EV)  2019            Densely populated
1            Owns an Electric Vehicle (EV)  2019       Intermediate populated
2            Owns an Electric Vehicle (EV)  2019             Thinly populated
3            Owns an Electric Vehicle (EV)  2019  All degrees of urbanisation
4            Owns an Electric Vehicle (EV)  2021            Densely populated
..                                     ...   ...                          ...
883  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
884  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
885  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
886  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
887  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation

     VALUE%_Pop Statistic Label_Rea     Sex          Age Group  VALUE%_Rea
0           1.6                 NaN     NaN                NaN         NaN
1           1.6                 NaN     NaN                NaN         NaN
2           1.3                 NaN     NaN                NaN         NaN
3           1.5                 NaN     NaN                NaN         NaN
4           4.8                Cost    Male      18 - 29 years        56.6
..          ...                 ...     ...                ...         ...
883        96.8               Other  Female      18 - 29 years         8.5
884        96.8               Other  Female      30 - 44 years         4.8
885        96.8               Other  Female      45 - 59 years         9.2
886        96.8               Other  Female      60 - 74 years         9.3
887        96.8               Other  Female  75 years and over        10.2

[888 rows x 8 columns]

In [23]:
Pop_Reason.rename(columns={"Statistic Label_Pop": "STAT_Pop"}, inplace=True)
print(Pop_Reason.head())

                        STAT_Pop  Year       Degree of Urbanisation  \
0  Owns an Electric Vehicle (EV)  2019            Densely populated
1  Owns an Electric Vehicle (EV)  2019       Intermediate populated
2  Owns an Electric Vehicle (EV)  2019             Thinly populated
3  Owns an Electric Vehicle (EV)  2019  All degrees of urbanisation
4  Owns an Electric Vehicle (EV)  2021            Densely populated

   VALUE%_Pop Statistic Label_Rea   Sex      Age Group  VALUE%_Rea
0         1.6                 NaN   NaN            NaN         NaN
1         1.6                 NaN   NaN            NaN         NaN
2         1.3                 NaN   NaN            NaN         NaN
3         1.5                 NaN   NaN            NaN         NaN
4         4.8                Cost  Male  18 - 29 years        56.6

In [24]:
Pop_Reason = Pop_Reason[Pop_Reason.STAT_Pop != 'Owns an Electric Vehicle (EV)']
print(Pop_Reason)

                                  STAT_Pop  Year       Degree of Urbanisation  \
444  Does not own an Electric Vehicle (EV)  2019            Densely populated
445  Does not own an Electric Vehicle (EV)  2019       Intermediate populated
446  Does not own an Electric Vehicle (EV)  2019             Thinly populated
447  Does not own an Electric Vehicle (EV)  2019  All degrees of urbanisation
448  Does not own an Electric Vehicle (EV)  2021            Densely populated
..                                     ...   ...                          ...
883  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
884  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
885  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
886  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
887  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation

     VALUE%_Pop Statistic Label_Rea     Sex          Age Group  VALUE%_Rea
444        98.4                 NaN     NaN                NaN         NaN
445        98.4                 NaN     NaN                NaN         NaN
446        98.7                 NaN     NaN                NaN         NaN
447        98.5                 NaN     NaN                NaN         NaN
448        95.2                Cost    Male      18 - 29 years        56.6
..          ...                 ...     ...                ...         ...
883        96.8               Other  Female      18 - 29 years         8.5
884        96.8               Other  Female      30 - 44 years         4.8
885        96.8               Other  Female      45 - 59 years         9.2
886        96.8               Other  Female      60 - 74 years         9.3
887        96.8               Other  Female  75 years and over        10.2

[444 rows x 8 columns]

In [34]:
Pop_Reason = Pop_Reason[Pop_Reason.Year != 2019]
print(Pop_Reason)

                                  STAT_Pop  Year       Degree of Urbanisation  \
4    Does not own an Electric Vehicle (EV)  2021            Densely populated
5    Does not own an Electric Vehicle (EV)  2021            Densely populated
6    Does not own an Electric Vehicle (EV)  2021            Densely populated
7    Does not own an Electric Vehicle (EV)  2021            Densely populated
8    Does not own an Electric Vehicle (EV)  2021            Densely populated
..                                     ...   ...                          ...
439  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
440  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
441  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
442  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation
443  Does not own an Electric Vehicle (EV)  2021  All degrees of urbanisation

     VALUE%_Pop Statistic Label_Rea     Sex          Age Group  VALUE%_Rea
4          95.2                Cost    Male      18 - 29 years        56.6
5          95.2                Cost    Male      30 - 44 years        68.4
6          95.2                Cost    Male      45 - 59 years        61.2
7          95.2                Cost    Male      60 - 74 years        69.2
8          95.2                Cost    Male  75 years and over        60.0
..          ...                 ...     ...                ...         ...
439        96.8               Other  Female      18 - 29 years         8.5
440        96.8               Other  Female      30 - 44 years         4.8
441        96.8               Other  Female      45 - 59 years         9.2
442        96.8               Other  Female      60 - 74 years         9.3
443        96.8               Other  Female  75 years and over        10.2

[440 rows x 8 columns]